In [1]:
1+1

2

In [2]:
40*2

80

In [3]:
40/5

8.0

In [4]:
9-10

-1

In [5]:
2+3+4+5

14

In [6]:
2**32

4294967296

In [7]:
100%2

0

In [8]:
100%3

1

In [9]:
50//5

10

In [10]:
10/3

3.3333333333333335

In [11]:
print 'Hallo Imam Wicaksono'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('Hallo Imam Wicaksono')? (680143469.py, line 1)

In [12]:
print ('Hallo Imam Wicaksono')

Hallo Imam Wicaksono

In [13]:
print ('Hallo Imam Wicaksono')
print ('Hallo INDONESIA')
print ('Hallo Pekalongan')
# print 'text ini tidak akan dicetak.'

Hallo Imam Wicaksono
Hallo INDONESIA
Hallo Pekalongan

In [16]:
"""Ini adalah multi-line String 
sya tambahkan single qoute ' dan double 
qoute ",tanpa perlu meng-scape \\ terlebih dahulu"""

'Ini adalah multi-line String \nsya tambahkan single qoute \' dan double \nqoute ",tanpa perlu meng-scape \\ terlebih dahulu'

In [17]:
'''Ini adalah multi-line String 
sya tambahkan single qoute ' dan double 
qoute ",tanpa perlu meng-scape \\ terlebih dahulu'''

'Ini adalah multi-line String \nsya tambahkan single qoute \' dan double \nqoute ",tanpa perlu meng-scape \\ terlebih dahulu'

In [26]:
print('%s pergi  ke %s' %('ibu','pasar'))
print('{0} pergi  ke {1}' .format('ibu','pasar'))
print('jumlah total: %10.2f' % 10.35)
print('jumlah total: %8.2f' % 8.55)

ibu pergi  ke pasar
ibu pergi  ke pasar
jumlah total:      10.35
jumlah total:     8.55

In [27]:
a=10
b=20
c=30
total = a+b+c
nama= 'ibu'
tempat= 'kantor'
print ('jumlah total %s' % total)
print ('%s pergi ke %s' % (nama,tempat))

jumlah total 60
ibu pergi ke kantor

In [28]:
type(1)

int

In [29]:
type(5.2)

float

In [30]:
type(2**23)

int

In [31]:
type('dabjh')

str

In [32]:
type('a')

str

In [41]:
#jumllah belanja
belanja=100000
#besarnya diskon (dalam persen)
diskon = 30
#besarnya diskon
nominaldiskon = (diskon/100)* belanja
#hitung jumlah yang harus dibayar
bayar = belanja - nominaldiskon
#tampilkan hasilnya
print('Anda harus membayar Rp ', bayar)

Anda harus membayar Rp  70000.0

In [42]:
tahun_lahir = 1965
usia_sekarang = 2024-1965
usia_sekarang

59

In [43]:
usia_80 = 1965+80
usia_80

2045

In [44]:
saldo_awal = 5000000
bunga_tahun_satu = 0.1 * saldo_awal
saldo_tahun_satu = saldo_awal + bunga_tahun_satu
saldo_tahun_satu

5500000.0

In [45]:

bunga_tahun_dua = 0.1 * saldo_tahun_satu
saldo_tahun_dua = saldo_tahun_satu + bunga_tahun_dua
saldo_tahun_dua

6050000.0

In [46]:
bunga_tahun_tiga = 0.1 * saldo_tahun_dua
saldo_akhir = saldo_tahun_dua + bunga_tahun_tiga
saldo_akhir

6655000.0

In [47]:
i=5
print (i)
i=i+1
print(i)

s='''this is amulti-line string
this is the second line'''
print(s)

5
6
this is amulti-line string
this is the second line

In [48]:
# Memasukkan Inputan Angka
angka1 = input('Tulis angka pertama: ')
angka2 = input('Tulis angka kedua: ')
# Mengkonversi Angka lalu Menjumlahkannya
sum = int(angka1) + int(angka2)
# Menampilkan Hasil Penjumlahan
print('Hasil Penjumlahan {0} dan {1} adalah {2}'.format(angka1,
angka2, sum))

Tulis angka pertama: 20
Tulis angka kedua: 50
Hasil Penjumlahan 20 dan 50 adalah 70